<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:layout:decorator="http://www.ultraq.net.nz/thymeleaf/layout/decorator"
      xmlns:layout:fragment="http://www.ultraq.net.nz/thymeleaf/layout/fragment">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger">
            <h2>Ha ocurrido un error</h2>
            <p>Lo sentimos, la página que buscas no está disponible.</p>
            <a href="/login" class="btn btn-primary">Volver al login</a>
        </div>
    </div>
</body>
</html>