<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:layout:decorator="http://www.ultraq.net.nz/thymeleaf/layout/decorator"
      xmlns:layout:fragment="http://www.ultraq.net.nz/thymeleaf/layout/fragment">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="~/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div>
        <p>Error de credenciales <a th:href="@{/login}">Volver al login</a></p>
    </div>

	<div>
		<p>¿No tienes una cuenta? <a th:href="@{/registro}">Regístrate aquí</a></p>
	</div>
</body>
</html>